
/* slick-slider 필수 css */
.slick-slider{position:relative; display:block; box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -ms-touch-action:pan-y; touch-action:pan-y; -webkit-tap-highlight-color:transparent;}
.slick-list{position:relative; display:block; overflow:hidden; margin:0; padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer; cursor:hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
.slick-track{position:relative; top:0; left:0; display:block;}
.slick-track:before,.slick-track:after{display:table; content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none; float:left; height:100%; min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display: block; margin:0 auto;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto; border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}

#main,
#mainVisual { position:relative; overflow:hidden; }
#mainVisual .visu {}
#mainVisual .visu article { background-size:cover !important; height:640px;}
#mainVisual .visu article.item1 { background:url("/resources/img/main/mainVisual01.jpg") no-repeat center;}
#mainVisual .visu article.item2 { background:url("/resources/img/main/mainVisual02.jpg") no-repeat center;}
#mainVisual .visu article.item3 { background:url("/resources/img/main/mainVisual03.jpg") no-repeat center;}
#mainVisual .txt_box { position:absolute; left:50%; top:50%; width:100%; max-width:1200px; transform:translate(-50%,-50%); text-align:center; }
#mainVisual .txt_box h2 { text-shadow:0 0 5px rgba(0,0,0,0.2); color:#fff; font-family: 'Sunflower', sans-serif; font-size:68px; font-weight:300; text-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);}
#mainVisual .txt_box .tagList { margin-top:60px; }
#mainVisual .txt_box .tagList ul { font-size:0; letter-spacing:-4px;}
#mainVisual .txt_box .tagList ul li { display:inline-block; letter-spacing: -1px; margin-right:10px; }
#mainVisual .txt_box .tagList ul li:last-child { margin:0; }
#mainVisual .txt_box .tagList ul li a { display:block; font-size:16px; background:rgba(255,255,255,0.8); color:#333; padding:16px 24px; border-radius:5px; }
#mainVisual .txt_box .tagList ul li a:hover { color:#fff; background:#e47312;}
#mainVisual .slick-arrow { position:absolute; top:50%; transform:translateY(-50%); z-index:10; width:80px; height:80px; z-index:10; border:none; text-indent: -9999px; background-size:100% !important;}
#mainVisual .slick-next {right:20px; background:url("/resources/img/main/slide_next_off.png") no-repeat center top;}
#mainVisual .slick-prev {left:20px; background:url("/resources/img/main/slide_prev_off.png") no-repeat center top; }
#mainVisual .slick-next:hover { background:url("/resources/img/main/slide_next_on.png") no-repeat center top;}
#mainVisual .slick-prev:hover { background:url("/resources/img/main/slide_prev_on.png") no-repeat center top; }


#mainVisual .slick-dots { position:absolute; left:0; bottom:80px; width:100%;  text-align:center;}
#mainVisual .slick-dots > li { display:inline-block; margin-right:16px;}
#mainVisual .slick-dots > li:last-child { margin:0; }
#mainVisual .slick-dots > li button { text-indent: -9999px; width:16px; height:16px; background:#fff; border-radius: 50%;  padding:0; border:none; }
#mainVisual .slick-dots > li.slick-active button  { background:#e5d8bf;}



/* 타이틀  */
.tit_main { text-align:center; margin-bottom:40px;}
.tit_main h3 { font-size:32px; font-weight:700; position:relative;}
.tit_main h3:after { content:""; width:22px; height:2px; background:#fbaab0; margin:12px auto; display:block;}
.tit_main p { color:#999; line-height:1.6; margin-top:12px;}

/* 메인 탭 메뉴 */
#tab_s3 { margin-bottom:40px;}
#tab_s3 ul{ text-align:center; font-size:0; letter-spacing:-4px;}
#tab_s3 ul > li { display:inline-block; width:120px; height:42px; letter-spacing:-0.5px; font-size:14px; margin-right:12px;}
#tab_s3 ul > li button { width:100%; height:100%; border:1px solid #ddd; background:#fff;}
#tab_s3 ul > li.on button, 
#tab_s3 ul > li:hover button{ background:#fbaab0; color:#fff; font-weight:700; } 

/* 메인 컨텐츠 */
#mainCont > section { position:relative; padding:70px 0; }

/* class List */
#toDayClass {}
#toDayClass > div > article { float:left; width:48%; margin-right:4%; }
#toDayClass > div > article:last-child { margin:0; }
#toDayClass .classWrap .category {  width:120px; border:1px solid #ddd; text-align:center; padding:12px 0; border-radius:6px; }
#toDayClass .classWrap > section { margin-bottom:40px; }
#toDayClass .classWrap > section:last-child { margin:0; }
#toDayClass .classWrap > section > div { margin-bottom:16px; }
#toDayClass .classWrap > section > div:last-child { margin:0; }
#toDayClass .classWrap .list { height:300px;}
#toDayClass .classWrap .list ul  {}
#toDayClass .classWrap .list ul li { margin-bottom:14px; overflow:hidden; background:#fff; padding:20px; border-radius:6px; box-shadow:0 0 10px rgba(0,0,0,0.1); }
#toDayClass .classWrap .list ul li:last-child { margin:0; }
#toDayClass .classWrap .list ul li > div { float:left; }  
#toDayClass .classWrap .list ul li .info { margin-top:6px;
	width:calc(100% - 130px);
	width:-moz-calc(100% - 130px);
	width:-webkit-calc(100% - 130px);	
}
#toDayClass .classWrap .list ul li .info > div { margin-bottom:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }  
#toDayClass .classWrap .list ul li .tit { font-size:18px; font-weight:700; color:#333;}  
#toDayClass .classWrap .list ul li .txtBox { font-size: 16px;}  
#toDayClass .classWrap .list ul li .thum { width:100px; height:100px; border-radius:50%; overflow:hidden;  margin-right:30px; font-size:12px; color:#999; }  
#toDayClass .scheduleWrap {border-top:1px solid #ddd; padding-top:20px; }
#toDayClass .scheduleWrap .tip { }
#toDayClass .scheduleWrap .tip p { line-height:1.6; position:relative; padding-left:12px; font-size:16px; margin-bottom:4px;}
#toDayClass .scheduleWrap .tip p:last-child { margin:0; }
#toDayClass .scheduleWrap .tip p:before { content:""; width:4px; height:4px; border-radius:50%; background:#333; display:block; position:absolute; left:0; top:10px; } 


/*  파트너 / 튜터 목록 */
#personList .userInfo_s1 > div { display:block; margin:0;}
#personList .userInfo_s1 .thumb { width:120px; height:120px; margin:0 auto;}
#personList .userInfo_s1 .info { margin-top:18px; }
#personList .userInfo_s1 .info .txt { word-break:break-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0 30px; }
#personList .list ul { text-align:center; font-size:0; letter-spacing:-4px; padding:0 80px;} 
#personList .userInfo_s1 .info .userId { font-size:16px; font-weight:700; margin-top:10px;}
#personList .list ul li { display:inline-block; vertical-align:top;  width:25%; letter-spacing:-0.5; font-size:14px; } 

#personList .slick-prev { left: 20px; background: url(/resources/img/main/slide_prev_on.png) no-repeat center top; }
#personList .slick-next { right: 20px; background: url(/resources/img/main/slide_next_on.png) no-repeat center top; }
#personList .slick-arrow {  position: absolute; top: 50%; transform: translateY(-50%);  z-index: 10; width: 80px; height: 80px;  z-index: 10; border: none; text-indent: -9999px; background-size: 100% !important;}
#mainCont > section#personList { padding-top:0;}

/* 지도 */
#mapWrap { padding:0 !important; position:relative; }
#mapWrap .mapSelect { position: absolute; width:300px; background:rgb(51, 100, 165,0.8); left:20px; top:20px; z-index: 9999; padding: 20px; font-size:0; letter-spacing:-4px;}
#mapWrap .mapSelect select { background: none; color:#fff; padding: 5px 10px; display: inline-block; vertical-align: middle; height: 42px; line-height: 42px; border: 1px solid #ddd; box-sizing: border-box; font-size:14px; width:49%; margin-right:2%; letter-spacing: -0.5px;}
#mapWrap .mapSelect select:last-child { margin:0; }
#map { height:500px; width:100% !important;}
.overlaybox { background:#333;}

.infoView { padding:11px 6px; font-size:12px; position:relative;}
.infoView .profile { width:40px; height:40px; border-radius:50%; border:1px solid #ddd; overflow:hidden; position:relative;}
.infoView .profile img { position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); }
.infoView > div { display:inline-block; vertical-align:middle; }
.infoView .info { padding:5px; width:90px;]}
.infoView .info > div { white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.infoView .info .writer {font-weight:700; }
.infoView .info .hobby { }
.infoView .cate { position:absolute; right:-15px; top:-15px; border-radius:50%;  width:32px; height:32px; text-align:center; line-height:32px; color:#fff;  font-size:11px;}
.infoView .group_cate { background:#fbaab0; }
.infoView .lesson_cate { background:#4b98ff; }

select option {
  background:#f4f4f4; color:#999;
}


