@charset "UTF-8";

@media (max-width:1200px){
	.inner1200 { padding:0 20px;}
	
	/* header */
	header #hdBot nav { display:none;}
	header #hdBot .logo { position:static; transform: translateY(0); margin:0 auto;}
	
	/* 메인 */
	#mainVisual .visu article { height:540px;}
	#mainVisual .txt_box h2 { font-size:58px;}
	#mainVisual .slick-arrow { display:none !important;}
	#toDayClass > div > article { width:100%; margin-right:0 !important;}
	#calendar { margin-top:0 !important; }
	#toDayClass .classWrap .list ul li .tit { font-size:16px; }
	#toDayClass .classWrap .list ul li .txtBox { font-size:14px; }
	#personList .list ul { padding:0 0;}
	#personList .slick-prev { left:-20px;}
	#personList .slick-next { right:-20px;}
	#personList .slick-arrow { width:40px; height:40px;}
	
	/* 이용 가이드  */
	#guide .info > section > div { float:none; width:100%; min-height:auto; }
	
	/* footer */
	footer #ftTop { line-height:1.8;}
	footer #ftTop .sns { right:20px; }
	
	/* developer */
	#developer .list ul li { height:500px; }
	
	/* sub  */
	#subContents { margin-top:40px; }
	.tit_s1 { padding:0 20px;}
}


@media (max-width:960px){
	
	/* developer */
	#developer .list ul li { height:450px; }	
	
}


@media (max-width:767px){
	/* 타이틀 */
	.tit_s1 h2 { font-size:40px;}
	
	/* 이용 가이드  */
	#guide .cate ul li { width: 95px; height:95px; }
	#guide .cate ul li p { line-height:95px;}
	#guide .info .tit dl dt { font-size:22px;}
	#guide .info .tit dl dd { font-size:16px; }
	
	/* 메인 */
	#mainVisual .visu article { height:440px;}	
	#mainVisual .txt_box h2 { font-size:50px;}
	#personList .userInfo_s1 .thumb { width:80px; height:80px;}
	
	/* footer */
	footer #ftTop { text-align:center; }
	footer #ftTop .sns { position:static; display:block; text-align:center; margin-top:40px;}
	footer #ftTop .sns ul li { display:inline-block; float:none; }
	.br_767 { display:block !important; font-size:0 !important; margin-top:8px; }
	
	/* developer */
	#developer .list ul li {width:49%; margin-right:2%; height:auto; padding:15px;}	
	#developer .list ul li:nth-child(3n) { margin-right:2%; }	
	#developer .list ul li:nth-child(2n) { margin-right:0; }	
	#developer .list ul li .work p { min-height:50px;}
	
}


@media (max-width:640px){
	/* 타이틀 */
	.tit_s1 h2 { font-size:36px; }
	#mapWrap .mapSelect { position:static; width:100%; }
	
	/* 메인  */
	#toDayClass .classWrap .list ul li .thum { width:80px; height:80px;}
	#toDayClass .classWrap .list ul li .info {
    width: calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: -webkit-calc(100% - 110px);
	}
	#map { height:350px;}
	
	
	/* 토론 게시판 리스트 */
	#listStyle1 .title { font-size:20px;}
	#listStyle1 .contents { max-height: 47px; overflow: hidden;}
	#listNav ul li, .navi_line ul li { margin:5px 8px 5px 0;}
	.search_as_keyword > section > div { display:block; }
	.card_body,
	.search_wrap { padding:30px 20px;}
	.tit_s3 h4 { font-size:16px; }
	.tit_s1 { margin-bottom:30px; padding-bottom:30px;}
}
@media (max-width:480px){
	/* 헤더  */
	header #hdBot .logo { width:180px; }
	
	/* 메인 */
	#mainVisual .visu article { height:360px;}	
	#mainVisual .txt_box h2 { font-size:42px;}
	#toDayClass .classWrap .list ul li > div { float:none; }
	#toDayClass .classWrap .list ul li .thum { margin:0 auto 20px; }
	#toDayClass .classWrap .list ul li .info { width:100% !important; } 
	
	
	/* 타이틀 */
	.tit_s1 h2 { font-size:32px;}
	
	/* footer  */
	.br_480 { display:block !important; font-size:0 !important; margin-top:8px; }
	
	/* developer */
	#developer .list ul li {width:100%; margin-right:0 !important; }	
	
	/* 토론 리스트  */
	.search_as_keyword .tit { font-size:14px;}
	.defaultSch select,
	.defaultSch .schCon,
	.search_as_keyword .tit,
	.defaultSch input { width:100%; margin:5px 0;}
}



@media (max-width:480px){
	/* 회원가입 수정 */
	#joinForm input, #joinForm select, #joinForm button { max-width:100px !important;}
	
	/* sub */
	.tit_s1 p { font-size:16px;}
	
	/* 메인 */
	#mainVisual .txt_box h2 { font-size:32px;}
	
}


