@charset "UTF-8";

.se_singup{margin:0 0 30px 0;}
/*input[type=radio] {display:none; margin:10px;}*/

select:focus, input:focus, checkbox:focus {box-shadow: 0 5px 8px 0 rgba(0,0,0,0.1);}

/* login */
#login{width:400px; margin:0 auto; font-size:13px;}
#login .h1{text-align:center; font-size: 46px; font-family: 'Muli', sans-serif; margin-bottom: 20px; font-weight: 700;}
#login input{ width:100%; padding:12px; margin-bottom:10px; border-radius:5px; border:1px solid #ddd;}
#login .btnS1 input{ margin-bottom:0; padding:0; height:50px; line-height:50px;}
#login-form-btn { display:block; margin-top:10px; }

#login input[type="checkbox"]{ width:auto;}
#login label{color:#5d5d5d; vertical-align:2px;}
#login_btn{border:1px solid #124d79; background:none; color:#124d79; cursor:pointer;}
#login_btn:hover{background:#124d79; color:#fff; transition-duration:0.5s;}
#google_btn{background:#ff3f3f; border:none; margin-bottom:10px; color:#fff; cursor:pointer;}
#google_btn:hover{background:#eb2d2d; transition-duration:1s;}
#kakao_btn{background:#f2be00; border:none; margin-bottom:10px; color:#fff; cursor:pointer;}
#kakao_btn:hover{background:#ffb000; transition-duration:1s;}
            
#other_text{text-align:center; margin-top:30px;}
.side{margin-left:30px; text-decoration:none; color:#5d5d5d;}
.side:hover{color:#124d79; border-bottom:1px solid #124d79; transition-duration:0.5s;}
.side:first-child { margin:0; }


/* join */
#loginMail .btnS1 > div { width:100%; display:block;}
#join{ width:100%; display:block; margin-top:30px; border:1px solid #ddd;}
#join h1{text-align:center; font-size: 46px; font-family: 'Muli', sans-serif; margin-bottom: 20px; font-weight: 700;}
#join .title{margin-top:20px; margin-bottom:5px;}
.w100{width:100%;}        
.w80{width:80%;}
.w70{width:70%;}
.w50{width:50%;}
.w20{width:20%;}
        
.o_box{width:20%; display:inline-block;}

/* 이메일 인증 */
#loginMail{box-sizing: border-box; width:400px; margin:0 auto; font-size:13px; box-size:border-box;}
#loginMail h1{text-align:center; font-size: 44px; font-family: 'Muli', sans-serif; margin-bottom: 40px; font-weight: 600;}
#loginMail .title{margin-top:20px; margin-bottom:5px;}
#loginMail dt{padding:10px 0 7px; font-weight: 500; font-size:14px;}
#loginMail input[type=text]{padding: 12px; margin-bottom: 10px; border-radius: 5px; border: 1px solid #d0d0d0;}
/* #loginMail label{margin-left:10px;} */
#loginMail #userMailSend{width:70%; display:inline; float:left;}
#loginMail #sendEmail{display:inline; width:28%;  margin-bottom: 10px; border-radius: 5px; border: 1px solid #d0d0d0; float:right;}
#loginMail .ov{}
#loginMail #code{width:100%;}
#loginMail .private{word-break:break-all; border:1px solid #ddd; width:100%;max-height:200px; overflow:auto; padding:20px; margin-bottom: 10px;}
#loginMail h3 {padding:0 0 7px 0; font-weight: 500; font-size:14px;}
#loginMail h3 span{color:red;}
#loginMail #join{ margin-bottom: 10px; border-radius: 5px; border: 1px solid #d0d0d0;}

#loginMail input[type=text],
#loginMail #sendEmail { height:42px; line-height:42px; }
        
        
.idSave { margin-bottom:20px;}
#isIdPwSame { border:1px solid #ddd; }        
        
        
.joinbox { position:relative; }
.joinbox .allck { position:absolute; right:0; top:-3px; }
#joinSendMail > div { margin-bottom:20px;}        
        
        
        
        
        
        
        
        