@charset "UTF-8";
#subContents { margin-top:70px; min-height:720px;}


input:-moz-read-only {background-color: #e4e4e4; color:#a9a9a9}  
input:read-only {background-color: #e4e4e4;color:#a9a9a9;} 

/* 이메일 보내기 */
.emailPop { position:fixed; right:0; top:0; width:700px; height:100%; z-index:9999; background:#fff;		}


/*  타이틀 */
.tit_s2 { margin-bottom:12px;}
.tit_s2 h3 { font-size:22px; }

.tit_s3 { margin-bottom:12px; }
.tit_s3 h4 { font-size:18px; }

/* 버튼 공통 */
.btnS1 { margin:20px 0 0;}
.btnS1.center {text-align:center;  }
.btnS1.right { text-align:right; font-size:0; letter-spacing:-4px; }
.btnS1 > div { display:inline-block; text-align:center; vertical-align:middle; font-size:14px; letter-spacing:-0.5px; margin-right:10px; }
.btnS1 > div:last-child { margin:0; }

.btnS1 a,
.btnS1 select,
.btnS1 button,
.btnS1 input { border:1px solid #ddd; background:#fff; color:#b3b3ba; display:block; width:120px; height:42px; line-height:40px; border-radius:6px; overflow:hidden; font-size:14px; font-weight:500; transition:all 0.5s; padding:0 10px; box-sizing:border-box;} 

.btnS1 a.on,
.btnS1 button.on,
.btnS1 input.on { background:#fbaab0;  color:#fff; border:none; }

.btnS1 a:hover,
.btnS1 button:hover,
.btnS1 input:hover { color:#fff; background:#fbaab0;}

.btns_s2 { margin-top:20px !important; font-size:0; letter-spacing:-4px;}
.btns_s2 button { letter-spacing:-0.5px; font-size:12px; width:32%; max-width:120px; margin-right:2%; height:42px; line-height:40px; border:1px solid #ddd; background:#fff; border-radius:5px; transition:all 0.5s;}
.btns_s2 button:hover { background:#fbaab0; color:#fff; }
.btns_s2 button:last-child { margin:0; }

/* 그룹 게시판 글쓰기 */
#find_group_write select,
#find_group_write input[type="text"] { width: 100%; padding:10px; height:42px; line-height:40px; border:1px solid #ddd; border-radius:5px; box-sizing:border-box;}
#find_group_write #apply_start,
#find_group_write #apply_end,
#find_group_write #start_date,
#find_group_write #end_date { width: 15%; background-color: #eee; }
#find_group_write select { width: 15%; margin-right: 10px; }
#find_group_write #max_num { width: 10%; margin-right: 5px; }
/* #find_group_write #location { display: none; } */
#find_group_write .fa-calendar { font-size: 20px; color: #999; margin-right: 8px; }
#find_group_write .notice{ font-size: 14px; color: #999; margin-top: 5px; }
.between_calendar, .max_num_myung { width: 30px; text-align: center; display: inline-block; font-size: 18px; }
.calendar_icon { display: inline-block; vertical-align: text-top; }
.group_sub_input { margin-bottom: 40px; }
#writeProc #location,
#writeProc #location_lat,
#writeProc #location_lng { display: none; }
#updateProc #location,
#updateProc #location_lat,
#updateProc #location_lng { display: none; }

/* 그룹 게시판 리스트 */
.back_and_wrap { position: relative; width: 23.5%; display: inline-block; margin-right:2%; margin-top: 35px; }
.back_and_wrap:nth-child(4n) { margin-right:0;}
.group_background { height: 88px; border-radius: 20px 20px 0 0; }
.group_each_wrapper { position: relative; border: 1px solid #ddd; border-top: none; border-radius: 0 0 20px 20px; padding: 20px; overflow: hidden; }
.group_each_wrapper .each_writer { text-align: center; margin-top: 25px; margin-bottom: 10px; }
.group_each_wrapper .each_writer .each_name { font-weight: bold; }
.each_profile { border: 3px solid #fff; position: absolute; top:46px; left: 34.8%; width: 80px; height: 80px; line-height: 80px; text-align: center; border-radius: 50%; overflow: hidden; }
.each_profile img { vertical-align: top; }
.background_pink { background-color: #ffc3c5; }
.background_purple { background-color: #a18ec1; }
.background_blue { background-color: #3063a2; }
.background_brown { background-color: #F2A057; }
.background_red { background-color: #F25C69; }
.background_yellow { background-color: #F2CB57; }
.background_green { background-color: #1F818C; }
.background_orange { background-color: #F2845C; }
.background_gray { background-color: #7a848a; }
.group_each_wrapper .each_title { width: 100%; font-size:18px; font-weight: bold; text-align: center; margin-bottom: 10px; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; color:#333; }
.group_each_wrapper .each_body {  margin-top:20px; }
.group_each_wrapper .each_body > div { margin-bottom:10px;  }
.group_each_wrapper .each_body > div:last-child { margin:0; border-bottom:1px solid #ddd; padding-bottom:20px;  margin-bottom:10px;  }
.group_each_wrapper .status { margin-top:8px;}

.countList_s2 { overflow:hidden; }
.countList_s2 span { display:block; float:left; margin-right:16px; }
.countList_s2 span:last-child { margin:0; }
.countList_s2 span i { font-size:16px; display:inline-block; margin-right:4px; color:#333;}

.group_each_wrapper i { color: #fcba03; }
.group_each_wrapper .group_applying,
.group_each_wrapper .group_proceeding,
.group_each_wrapper .group_done { width: 50px; height: 20px; border-radius: 5px; text-align: center; float: left; font-size: 12px; margin-right: 5px; margin-top: 8px; color: #fff; }
.group_each_wrapper .group_applying { background-color: #fbaab0; }
.group_each_wrapper .group_proceeding { background-color: #3162a4; }
.group_each_wrapper .group_done { background-color: #ddd; }
#group_list .sub_title { font-weight: bold; }
.search_btn_style { position: relative; margin-top: 40px; }
.search_btn_style .right { position: absolute; right: 0; top: 0; margin: 0; }
.search_wrap { padding: 30px; border: 1px solid #ddd; background: #fff; margin-top: 20px; border-radius: 6px; }

/* -- 이효섭 그룹 css 추가 */
.search_as_keyword select,
.search_as_keyword input { font-size:14px; border:1px solid #ddd; }
.search_as_keyword > section { margin-bottom:14px; }
.search_as_keyword > section { overflow:hidden; font-size:0; letter-spacing:-4px; }
.search_as_keyword > section > div { display:inline-block; vertical-align:middle; letter-spacing:-0.5px; font-size:12px; }
.search_as_keyword > section > div:first-child {}
.search_as_keyword .tit { width:60px; }
.search_as_keyword .schCon {
width:calc(100% - 60px);
width:-moz-calc(100% - 60px);
width:-webkit-calc(100% - 60px);
}
.defaultSch .schCon { font-size:0; letter-spacing:-4px; }
.defaultSch select { width:80px; margin-right:8px;}
.defaultSch select,
.defaultSch input { color:#999; padding:5px 10px;display:inline-block; vertical-align:middle; height:42px; line-height:42px; border:1px solid #ddd; box-sizing:border-box; letter-spacing:-0.5px; }
.defaultSch input { 
width:calc(100% - 88px);
width:-moz-calc(100% - 88px);
width:-webkit-calc(100% - 88px);
}


.radio_s1 { overflow:hidden; }
.checkBox_s1 { overflow:hidden; }
.radio_s1 li,
.checkBox_s1 li { position:relative; display:inline-block; vertical-align:middle; margin-right: 12px;}

.radio_s1 li,
.checkBox_s1 li input[type="text"] { vertical-align:middle; margin-left:4px;}

.radio_s1 li input[type="radio"],
.checkBox_s1 li input[type="checkbox"] { position:absolute; left:-9999px; }
.checkBox_s1 li label {}
.radio_s1 li label span, 
.checkBox_s1 li label span { display:inline-block; width:16px; height:16px; border:1px solid #ddd;  vertical-align:middle;  margin-right:6px; margin-top:-2px;}



/* 토론 게시판 리스트 */
.card_body { background:#fff; box-shadow: 0 7px 25px 0 rgba(0,0,0,0.1); border-radius:6px; padding:30px; margin-bottom:20px; margin-top:20px;}
.card_body:last-child { margin-bottom:0; }
#listStyle1 a {color:#777; }
#listStyle1 > section { border-bottom:1px solid #ddd; padding-bottom:30px; margin-bottom:30px;}
#listStyle1 .title { margin-bottom:10px; font-size: 23px; font-weight: 500; color: #333; word-break: break-word; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
#listStyle1 .contents { margin-top:10px; word-break: break-all; line-height:1.6;}
#listStyle1 .countList { position:absolute; right:0; bottom:0; }


/* 그룹 view */
#group_view { }
#group_view #seq { display: none; }
#group_view .group_info { float:left;; }
#group_view .group_info_top { float: left; }
#group_view .group_title_wrapper { overflow: hidden; padding:60px 0; margin-bottom:40px;}
#group_view #writer_info { width:340px; position:relative; margin-right:20px; }
#group_view #group_base { /* width: 62%; margin-left: 3%; */ 
	width:calc(100% - 360px);
	width:-moz-calc(100% - 360px);
	width:-webkit-calc(100% - 360px);
}
#group_view #writer_profile { width: 200px; height: 200px; border-radius: 50%; text-align: center; line-height: 300px; position: relative; top: 50%; left: 50%; transform: translate(-50%, 0); overflow: hidden; }
#group_view #writer_name_id { position: relative; left: 50%; transform: translate(-50%, 0); display: inline-block; margin-top: 20px; }
#group_view .base_info { position: relative; }
#group_view #group_title { font-size:30px; font-weight: bold; word-break: break-all; margin-bottom: 15px; }
#group_view #group_base_info { padding: 15px 0; border-bottom: 1px solid #ddd; }
#group_view #group_base_info span { position: relative; }
#group_view #group_base_info span i { margin-right: 5px; }
#group_view #like { right: -70%; }
#group_view #jjim { right: -72%; }
#group_view #report { right: -74%; }
#group_view #like:hover, #jjim:hover, #report:hover { cursor: pointer; }
#group_view #point_avg i { color: #fcba03; }
#group_view #like i { color: #3162a4; }
#group_view #jjim i { color: #fbaab0; }
#group_view #report i { color: #fc0303; }
#group_view .info_with_icon { float:left; width:25%; position: relative; text-align: center; padding-bottom: 20px; padding-top: 40px; vertical-align: top; }
#group_view .info_with_icon i { font-size:30px; margin-bottom: 15px; }
#group_view #group_tab_menu { width: 100%; }
#group_view #group_contents_wrapper { position: relative; }
#group_view #group_contents { 
width:calc(100% - 340px);
width:-moz-calc(100% - 340px);
width:-webkit-calc(100% - 340px);
}
#group_view #group_optional { width: 340px; border-left: 1px solid #ddd; padding: 0 0 0 30px; }
#group_view #group_view_card { position: relative; }
#group_view #group_optional .optional_menu { font-size:18px; margin-bottom:10px; }
#group_view #group_optional .optional_body { color:#999; }
#group_view #group_optional .member_profile { display: inline-block; width: 50px; height: 50px; border-radius: 50%; border: 1px solid #ddd; line-height: 50px; text-align: center; margin-right: 5px; }
#group_view #group_optional .optional_box { margin-bottom:30px; }
#group_view #related_group_title { font-size: 22px; }
#group_view #group_view #view_btns #update, #view_btns #delete { width: 49%; display: inline-block; }
#group_view #view_btns button { width: 100%; margin-top: 5px; }
#group_view #view_btns #update { margin-right: 2px; }
#group_view #writer_profile img { vertical-align: top; }
#group_view #map { width: 100%; height: 200px; margin-top: 10px; }
#group_view .member_profile img { vertical-align: top; }
#group_view .member_profile { overflow: hidden; }



/* 토론 글쓰기*/
#discussion_write {}
#discussion_write section { margin-bottom:40px; }
#discussion_write select,
textarea,
#discussion_write input[type="text"] { width:100%; padding:10px; height:42px; line-height:40px; border:1px solid #ddd; border-radius:5px; box-sizing:border-box;}
#discussion_write select { width:auto; }
textarea { resize:none; height:120px; line-height:1.6;}

button.like-hate-btn { }
button.likeBtn {border:1px solid #3162a4 !important; border-radius:5px; padding:5px 10px; }
button i.color_white { color:#fff; }
button.comment_declaration i { font-size:16px; }
button.comment_declaration,
button.hateBtn {border:1px solid #fbaab0; }
button.likeBtn i { color:#3162a4; }
button.hateBtn i { color:#fbaab0; }
button.likeBtn.checkOn { background:#3162a4 !important; color:#fff;}
button.like-hate-btn.likeBtn:hover  { background:#3162a4; color:#fff; }
button.like-hate-btn.hateBtn.checkOn {background:#fbaab0 !important;}
button.like-hate-btn.hateBtn.checkOn,
button.like-hate-btn.hateBtn:hover { background:#fbaab0; color:#fff; }
button.checkOn i,
button.like-hate-btn.checkOn i,
button.like-hate-btn:hover i { color:#fff;} 
button.normal:hover { background:#c7c7c7 !important; color:#fff; }

.countList button,
.countList { font-size:12px; color:#777; border:none; background:none;}
.countList > ul {  text-align:right;}
.countList > ul > li { display:inline-block; text-align:left; margin-right:12px; vertical-align:middle; }
.countList > ul > li:last-child { margin:0; }
.countList i { font-size:20px; display:inline-block; vertical-align:text-top; color:#b3b3b3; margin-right:4px;}

#listStyle1 .sideInfo { position:relative; margin-top:20px; font-size:12px; }
#listStyle1 .sideInfo .lang_date {padding-left:10px; overflow:hidden; position:relative;}
#listStyle1 .sideInfo .lang_date:before { content:""; width:2px; height:14px; background:#fbaab0; display:block; position:absolute; left:0; top:50%; transform:translateY(-50%); }
#listStyle1 .sideInfo .lang_date > div { float:left; margin-right:12px; }
#listStyle1 .sideInfo .lang_date > div:last-child { margin:0; }

/* 토론게시판 상세페이지 */
.viewPage_style1 {}
.viewPage_style1 > div { float:left; }
.viewPage_style1 .body_left { 
	width:calc(100% - 380px);
	width:-moz-calc(100% - 380px);
	width:-wedbkit-calc(100% - 380px);
}
.viewPage_style1 .body_right { width:360px; margin-left:20px; position:absolute; right:0; top:0;}
.viewPage_style1 .body_right > div { border-bottom:1px solid #ddd; padding-bottom:30px; margin-bottom:30px; }
.viewPage_style1 .body_right > div.moreList,
.viewPage_style1 .body_right > div:last-child { margin:0; padding:0; border:none;  }
.viewPage_style1 .body_right .tit_s2 { margin-bottom:10px;}
.viewPage_style1 .body_right .moreList li { margin-bottom:10px;}
.viewPage_style1 .body_right .moreList li:last-child { margin:0; }


.viewPage_style1 .title { font-size:24px; margin-bottom:30px; }
.viewPage_style1 .contents { font-size:14px; line-height:1.8; border-top:1px solid #ddd; margin:20px 0; padding-top:16px;}
.viewPage_style1 .originTxt p,
.viewPage_style1 .originTxt div { width:auto !important;}
.viewPage_style1 .language { font-size:16px; color:#999; border-left:2px solid #fbaab0; padding-left:12px; }
.convertWrap {margin-top:20px; margin-bottom:12px;}
.convertWrap > div{ float:left;}
.convertWrap > div select,
.convertWrap > div button { height:32px; border:1px solid #ddd; line-height:30px; box-sizing:border-box;}

/* 댓글  */
.comment_wrap {}
.comment_wrap .comment_list {}
.comment_wrap .comment_list > article { border-bottom:1px solid #ddd; padding-bottom:30px; margin-bottom:30px; position:relative; }
.comment_wrap .comment_list > article:last-child { border:none; padding:0; margin:0; }
.comment_wrap .comment_list .opinion { text-align:right; position:absolute; right:0; top:0;}
.comment_wrap .comment_list .opinion > p { width:32px; height:32px; border-radius:50%; color:#fff; text-align:center; line-height:32px; display:inline-block; font-size:12px; }
.comment_wrap .comment_list .opinion > p.yes { background:#3162a4}
.comment_wrap .comment_list .opinion > p.no { background:#fbaab0}
.comment_wrap .comment_list .cont {   }
.comment_wrap .comment_list .cont .contents { margin:0 0 20px; border-top:none; padding-top:0; word-break:break-all;}
.comment_wrap .comment_list button {background:none; border-radius:6px; padding:0 10px; height:32px; line-height:32px; transition:all 0.5s; border:1px solid #ddd; }
.comment_wrap .comment_list button.comment_declaration { background:#fbaab0; color:#fff; border:none; }


.comment_write { }
.comment_write .textInput { margin-top:12px;}
.comment_write textarea { width:100%; height:120px; border-radius:6px; border:1px solid #ddd; box-sizing:border-box; resize:none; padding:20px;}

.comment_write .opinion { text-align:right; }
.comment_write .opinion > div { display:inline-block; vertical-align:middle; margin-right:10px;  }
.comment_write .opinion > div:last-child { margin:0; }
.comment_write .opinion select {  border:1px solid #ddd; border-radius:5px; padding:5px 12px;}

/* 유저 정보 스타일 */
.userInfo_s1 { margin:14px 0; }
.userInfo_s1 > div { display:inline-block; vertical-align:middle; margin-right:12px;} 
.userInfo_s1 > div:last-child { margin:0; }
.userInfo_s1 .thumb { width:60px; height:60px; border-radius:50%; overflow:hidden;}
.userInfo_s1 .info { }
.userInfo_s1 .info > p { line-height:1.4; margin-bottom:4px; }
.userInfo_s1 .info > p:last-child { margin:0; }
.userInfo_s1 .info .userId {  }
.userInfo_s1 .info .writeDate { color:#999; }

.userInfo_s2 .thumb { margin:0 auto 10px;}
.userInfo_s2 > div { display:block;  text-align:center; }


/* 리뷰 */
#discussion_view .wordsize,
#review_wrap .wordsize{ text-align:right; margin-top:6px;}
#review_wrap .textInput { position:relative;}
#review_wrap .starPoint { text-align:right; margin-bottom:12px;}
.starPoint > div { display:inline-block; vertical-align:middle; font-size:20px; margin-right:6px;}
.starPoint > div:last-child { margin:0; }
.starPoint em,
.starPoint span,
.starPoint button { border:none; background:none; padding:0;}
.starPoint span i,
.starPoint em i,
.starPoint button i { font-size:20px; color:#c2c2c2;}
.starPoint span.on i,
.starPoint em.on i,
.starPoint button.on i { color:#fbaab0;}
#review_wrap .textInput > div { float:left; }
#review_wrap .textInput > div:first-child{ width:100px; margin-right:20px;}
#review_wrap .textInput > div:last-child{ 
	width:calc(100% - 120px);
	width:-moz-calc(100% - 120px);
	width:-webkit-calc(100% - 120px);
}

.review_list {}
.review_list article { border-bottom:1px solid #ddd; padding-bottom:30px; margin-bottom:30px;}
.review_list article:last-child { margin:0; padding:0; border:none;}
.review_list article > div {  margin-right:20px; float:left;}
.review_list article .userInfo_s1 {width:160px;}
.review_list article .cont { margin-right:0; padding-top:12px;
	width:calc(100% - 180px);
	width:-moz-calc(100% - 180px);
	width:-webkit-calc(100% - 180px);
}
.review_list article .starPoint {}
.review_list article .starPoint > div {  }
.review_list article .txtBox a { line-height:1.6; margin-top:8px; word-break:break-all; display:block;}



 /* 탭 디자인 */
 .tab_s1 {}   
 .tab_s1 ul{}   
 .tab_s1 ul li { float:left; margin-right:2%; border:1px solid #ddd; border-radius:6px; }  
 .tab_s1 ul li:last-child { margin-right:0; }
 .tab_s1 ul li a { display:block; height:60px; line-height:60px; font-size:18px;  text-align:center;}   
 .tab_s1 ul li.on { }
 .tab_s1 ul li.on a { background:#f1989f; font-weight:500; color:#fff; }
 
 .tab_s2 { border-radius:6px; overflow:hidden; border:1px solid #ddd;}   
 .tab_s2 ul{}   
 .tab_s2 ul li { float:left;border-right:1px solid #ddd }  
 .tab_s2 ul li:last-child { margin-right:0; border:none;}
 .tab_s2 ul li button, 
 .tab_s2 ul li a { display:block; height:60px; line-height:60px; border:none; background:#fff; width:100%; font-size:18px; text-align:center;}   
 .tab_s2 ul li.on { }
 .tab_s2 ul li.on button,
 .tab_s2 ul li.on a { background:#f1989f; font-weight:500; color:#fff; }
 
 #tabContWrap { }
 #tabContWrap > article { display:none; }
 #tabContWrap > article:first-child { display:block; }
   
   
   
/* 페이징  */
#listNav { margin-top:40px; }   
#listNav ul { text-align:center; }   
#listNav ul li { display:inline-block; margin-right:8px;} 
#listNav ul li:last-child { margin-right:0;} 
#listNav ul li a{ display:block; width:36px;background:#fff; height:36px; line-height:34px; border-radius:6px; border:1px solid #ddd; box-sizing:border-box;}   
#listNav ul li.on a{ background:#3e6caa; color:#fff; }   



/* 채팅 서비스 */
#chatWrap { position:fixed; right:-320px; bottom:0; z-index:10001; height:100%; width:320px; background:#fff; transition:all 0.5s;}
#chatWrap .noList {  text-align:center; padding:12px; color:#999; }
#chatWrap .noList p { margin-bottom:20px; v}
#chatWrap .noList a { display:block; border:1px solid #ddd; padding:12px 5px; transition:all 0.5s;}
#chatWrap .noList a:hover { background:#333; color:#fff;}
#chatWrap.on { right:0; }
#chatWrap .title { height:80px; background:#3162a4; margin:0 !important; padding:20px; position:relative; }
#chatWrap .title i { color:#fff; font-size:20px; border:1px solid #fff; border-radius:50%; padding:8px; margin-right:10px;}
#chatWrap .title i, 
#chatWrap .title p {display:inline-block; vertical-align:middle; position:relative; overflow:hidden;}
#chatWrap .title span { display:block; position:absolute; right:20px; top:46%; transform:translateY(-50%); background:#fff; border-radius:50%; width:20px; height:20px; color:#3162a4; line-height:20px; text-align:center; font-weight:700; font-size:12px; margin-top:3px;}
#chatWrap .title p { padding:5px 20px 5px 0; font-size:14px; color:#fff; white-space:nowrap; text-overflow:ellipsis;
	max-width:calc(100% - 64px); 
	max-width:-moz-calc(100% - 64px); 
	max-width:-webkit-calc(100% - 64px); 
}
#chatClose { position:absolute; right:20px; top:25px; z-index:9998;}
#chatClose button { background:none; color:#fff; border:none;}
#chatClose button i { font-size:20px; color:#333;}

#chatWrap #chatRoom .chatBox::-webkit-scrollbar {display:none;} 
#chatWrap #chatRoom .userInfo_s1 .info { margin-top:-10px;}
#chatWrap #chatRoom .chatBox .sysdate { text-align:center; background:#fafafc; border-radius:10px; padding:5px 0;}
#chatWrap #chatRoom .chatBox { padding:20px; box-sizing:border-box; overflow-y:auto; -ms-overflow-style: none;
height:calc(100% - 240px);
height:-moz-calc(100% - 240px);
height:-webkit-calc(100% - 240px); 
}
#chatWrap #chatRoom .chatBox > div { margin-bottom:20px;}
#chatWrap #chatRoom .chatBox > div:last-child { margin:0; }
#chatWrap #chatRoom .chatBox .other { text-align:left; }
#chatWrap #chatRoom .chatBox .my { text-align:right; }
#chatWrap #chatRoom .chatBox .other .chatTxt { margin-left:54px;}
#chatWrap #chatRoom .chatBox .my .chatTxt { margin-right: 61px;}
#chatWrap #chatRoom .chatBox .chatTxt { display:block; margin-top:-14px; position:relative; }
#chatWrap #chatRoom .chatBox .chatTxt:before { content:""; width:11px; height:7px; display:block; position:absolute; top:5px; }
#chatWrap #chatRoom .chatBox .my .chatTxt:before { right:0; background:url("/resources/img/common/chatBgRight.png") no-repeat;}
#chatWrap #chatRoom .chatBox .other .chatTxt:before { left:4px; right:inherit; background:url("/resources/img/common/chatBgLeft.png") no-repeat;}
#chatWrap #chatRoom .chatBox .my .chatTxt p { background:#ffd100;}
#chatWrap #chatRoom .chatBox .chatTxt p {padding:4px 8px; border-radius:4px; background:#d9e7f4; display:inline-block; text-align:left; max-width:140px; box-sizing:border-box; word-break:break-all; margin:0 10px;}
#chatWrap #chatRoom .chatBox .chatTxt span { font-size:12px; display:inline-block;  vertical-align: bottom;} 
#chatWrap #chatRoom .userInfo_s1 .thumb { width:50px; height:50px; }
#chatWrap #chatRoom .txtInputBox { position:absolute; left:0; bottom:0; padding:20px; border-top:1px solid #ddd; width:100%; height:120px; }
#chatWrap #chatRoom .txtInputBox .txtInput::-webkit-scrollbar {display:none;} 
#chatWrap #chatRoom .txtInputBox .txtInput { height:100%; overflow-y: auto; -ms-overflow-style: none; 
width:calc(100% - 100px);
width:-webkit-calc(100% - 100px);
width:-moz-calc(100% - 100px);
}
#chatWrap .txtInputBox #transfer { position:absolute; padding:5px 15px; border:1px solid #ddd; background:#3162a4; color:#fff; border-radius:6px; right:10px; top:10px;}
#chatWrap #chatRoom,
#chatList { position:absolute; right:0; top:0; background:#fff;  z-index:9997; width:100%; height:100%;     box-shadow: 0 7px 25px 0 rgba(0,0,0,0.1);}
#chatList {padding:20px; }
#chatList .userInfo_s1 .thumb { width:50px; height:50px; }
#chatList .tit { font-size:20px; font-weight:700; margin-bottom:20px;}
#chatList .list {}
#chatList .list ul {}
#chatList .list ul li { margin-bottom:15px; position:relative;}
#chatList .list ul li:last-child { margin:0; padding:0; border:none; }
#chatList .list ul li button { width:80px; height:32px; border:1px solid #ddd; border-radius:6px;  position:absolute; right:0; top:50%; transform:translateY(-50%); background:#fff; }
#chatList .list ul li button:hover { color:#fff; background:#fbaab0;}
#chatWrap #chatRoom {opacity:1;  right:-320px; transition:all 0.5s;}
#chatWrap #chatRoom.on { right:0;  opacity:1; z-index:9999;}
#chatWrap .top { background:#f0989e; padding:5px 20px;}
#chatWrap .top #close { background:none; border:none; }
#chatWrap .top #close i { font-size:22px; color:#fff; font-weight:700;}


#chatOpenBtn { position:fixed; right:20px; bottom:20px;}
#chatOpenBtn button { border:none; width:50px; transition:all 0.5s; height:50px; border-radius:50%; color:#fff; background:#4b98ff; font-size:12px; fontt-weight:700;}
#chatOpenBtn button:hover { background:#3162a4;}
