@charset "UTF-8";

header { position: fixed; height: 100%; width: 250px; background: #124d79; box-shadow: 0 10px rgba(0, 0, 0, 0.1) 0; z-index: 9999; font-family: 'Noto Sans SC', sans-serif; }
header .gnb a { color: #fff; text-decoration: none; font-size: 18px; }
