<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Chat">

	<insert id="insert">
		insert into chatRoom values(#{roomId},#{usersName},#{usersIds})
	</insert>
	
<!-- 	<select id="chatRoomSch" resultType="int">
		select count(*) from chatRoom where chatMemberId = #{usersIds}
	</select> -->
	<select id="chatRoomSch" resultType="String">
		select roomId from chatRoom where chatMemberId like '%'||#{master}||'%' and chatMemberId like '%'||#{partner}||'%'
	</select>
	<select id="chatRoomAll" resultType="String">
		select * from chatRoom;
	</select>


</mapper>