<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Correct">
	<insert id="insert">
		insert into correct
		values(correct_seq.nextval,#{id},#{writer},#{language},#{title},#{type},#{contents},sysdate,#{view_count},default,0,0)
	</insert>

	<select id="select" resultType="kh.pingpong.dto.CorrectDTO">
		select * from correct
		<if test="value != null">
			where seq = #{value}
		</if>
	</select>

	<select id="selectAll" resultType="kh.pingpong.dto.CorrectDTO">
		<!-- select * from discussion order by seq desc -->
		select * from ( select correct.*, row_number()
		over(order by seq desc) rnum from correct )
		where rnum between #{start} and #{end}
	</select>

	<select id="selectOne" resultType="kh.pingpong.dto.CorrectDTO">
		select * from correct where
		seq = #{seq}
	</select>
	<insert id="commentInsert">
		insert into correctcomm
		values(correctcomm_seq.nextval,#{id},#{writer},#{title},#{contents},default,default,default,${parent_seq})
	</insert>

	<select id="selectc" resultType="kh.pingpong.dto.CorrectDTO">
		<!-- select * from discussion order by seq desc -->
		select * from correctcomm where parent_seq = #{value} order by seq
		desc
	</select>

	<select id="selectc2" resultType="kh.pingpong.dto.CorrectDTO">
		<!-- select * from discussion order by seq desc -->
		select * from (select correctcomm.*, row_number() over(order by
		like_count desc) rnum from correctcomm where parent_seq =
		#{parent_seq} and like_count > 0) where rnum between 1 and 3
	</select>

	<update id="viewcount">
		update correct
		set view_count = view_count + 1
		where seq = #{seq}

	</update>

	<update id="modify">
		update correct set title = #{title}, type = #{type},
		contents = #{contents} where seq = ${seq}
	</update>


	<insert id="like">
		insert into like_list values(like_list_seq.nextval,#{id},'첨삭',#{parent_seq})
	</insert>

	<!-- 강의 좋아요 됬는지 확인 -->
	<select id="LikeIsTrue" resultType="int">
		select count(*) from like_list where parent_seq = #{parent_seq} and id
		=#{id} and category='첨삭'
	</select>
	
	<delete id="likecancle">
		delete like_list where id = #{id} and parent_seq = #{parent_seq} and
		category='첨삭'
	</delete>
	
	<select id = "likecount" resultType = "int">
	select count(*) from like_list where parent_seq = #{parent_seq} and category='첨삭'
	</select>

	<update id="countrep">
		update correct set reply_count = reply_count + 1 where seq =${parent_seq}
	</update>

	<select id="correctcount" resultType="int">
		select count(*) from
		correct
	</select>

	<delete id="delete">
		delete correct where seq = ${seq}
	</delete>
	
	<delete id="commentDelete">
		delete correctcomm where seq = ${seq}
	</delete>
	
	<select id="selectReport" resultType="int">
		select count(*) from reportlist where parent_seq = #{parent_seq} and id = #{id} and category = '첨삭'
	</select>
	
	<insert id="insertReport">
		insert into reportlist values(reportlist_seq.nextval, #{id}, #{reason}, #{reporter}, sysdate, #{parent_seq}, '첨삭', default)
	</insert>
	
	<select id="comment_report" resultType="int">
		select count(*) from reportlist where parent_seq = #{parent_seq} and id=#{id} and category='첨삭-${commSeq}'
	</select>
	<!-- 신고테이블에 저장 -->
	<insert id="comment_reportProc">
		insert into reportlist values(reportlist_seq.nextval, #{id}, #{reason}, #{reporter}, sysdate, #{parent_seq}, '첨삭-${commSeq}', default)
	</insert>

</mapper>