<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Group">
	<!-- 유형 뽑아오기 -->
	<select id="selectHobby" resultType="kh.pingpong.dto.HobbyDTO">
		select * from hobby
	</select>
	
	<!-- 그룹 게시글 작성하기 -->
	<insert id="insert">
		insert into grouplist values(grouplist_seq.nextval, #{title}, #{writer_id},
			#{writer_name}, #{hobby_type}, #{apply_start}, #{apply_end}, #{start_date},
			#{end_date}, #{period}, #{max_num}, 1, #{location}, #{location_lat}, #{location_lng},
			#{contents}, default, 0, 0, 0, 0, 0, default, #{proceeding})
	</insert>
	

	<select id="selectGroupList" resultType="kh.pingpong.dto.GroupDTO">
		select * from
		(select grouplist.*, row_number() over(order by ${orderBy} desc, seq desc) rnum
		from grouplist
		<trim prefix="where" prefixOverrides="and">
			<if test="ing != null">
				${ing} = #{ingValue}
			</if>
			<if test="keywordType != null">
				and
				<if test="keywordType == 'contents'">
					DBMS_LOB.INSTR(contents, #{keywordValue}) > 0
				</if>
				<if test="keywordType != 'contents'">
					${keywordType} = #{keywordValue}
				</if>
			</if>
			<if test="hobby_type != null">
				<foreach collection="hobby_type" item="hobby_type" open=" and " close="" separator="or">
					hobby_type like '%${hobby_type}%'
				</foreach>
			</if>
			<if test="period != null">
				and period = #{period}
			</if>
			<if test="start_date != null">
				and to_date(start_date) > to_date(#{start_date}) and to_date(#{end_date}) > to_date(end_date)
			</if>
			<if test="location != null">
				and location like '%${location}%'
			</if>
		</trim>
		)
		where rnum between #{start} and #{end}
	</select>
	
	<select id="selectGroupCount" resultType="int">
		select count(*) from
		(select grouplist.*, row_number() over(order by ${orderBy} desc, seq desc) rnum
		from grouplist
		<trim prefix="where" prefixOverrides="and">
			<if test="ing != null">
				${ing} = #{ingValue}
			</if>
			<if test="keywordType != null">
				and
				<if test="keywordType == 'contents'">
					DBMS_LOB.INSTR(contents, #{keywordValue}) > 0
				</if>
				<if test="keywordType != 'contents'">
					${keywordType} = #{keywordValue}
				</if>
			</if>
			<if test="hobby_type != null">
				<foreach collection="hobby_type" item="hobby_type" open=" and " close="" separator="or">
					hobby_type like '%${hobby_type}%'
				</foreach>
			</if>
			<if test="period != null">
				and period = #{period}
			</if>
			<if test="start_date != null">
				and to_date(start_date) > to_date(#{start_date}) and to_date(#{end_date}) > to_date(end_date)
			</if>
			<if test="location != null">
				and location like '%${location}%'
			</if>
		</trim>
		)
	</select>
	
	<select id="selectBySeq" resultType="kh.pingpong.dto.GroupDTO">
		select * from grouplist where seq = #{value}
	</select>
	
	<select id="searchSeq" resultType="int">
		select * from (select seq from grouplist where writer_id = #{value} order by seq desc) where rownum = 1
	</select>
	
	<delete id="delete">
		delete grouplist where seq = #{value}
	</delete>
	
	<update id="update">
		update grouplist set title = #{title}, hobby_type = #{hobby_type},
			apply_start = #{apply_start}, apply_end = #{apply_end},
			start_date = #{start_date}, end_date = #{end_date}, period = #{period},
			max_num = #{max_num}, location = #{location}, location_lat = #{location_lat},
			location_lng = #{location_lng}, contents = #{contents}
			where seq = #{seq}
	</update>
	
	<select id="selectCount" resultType="int">
		select count(*) from grouplist
	</select>
	
	<update id="updateViewCount">
		update grouplist set view_count = view_count + 1 where seq = #{seq}
	</update>
	
	<insert id="insertApp">
		insert into group_app values(group_app_seq.nextval, #{id}, #{name}, #{age}, #{gender}, #{address},
			#{profile}, #{lang_can}, #{lang_learn}, #{contents}, #{parent_seq})
	</insert>
	
	<select id="selectApplyForm" resultType="int">
		select seq from group_app where parent_seq = #{parent_seq} and id = #{id}
	</select>
	
	<delete id="deleteApplyForm">
		delete group_app where seq = #{seq}
	</delete>
	
	<insert id="insertDeleteApply">
		insert into delete_app values(delete_app_seq.nextval, #{id}, '그룹', #{contents}, #{parent_seq})
	</insert>
	
	<select id="selectGroupMemberList" resultType="kh.pingpong.dto.GroupMemberDTO">
		select * from groupmember where parent_seq = #{parent_seq}
	</select>
	
	<select id="selectGroupMemberById" resultType="int">
		select seq from groupmember where id = #{id} and parent_seq = #{parent_seq}
	</select>
	
	<update id="updateGroupMemberOut">
		update grouplist set cur_num = cur_num - 1 where seq = #{seq}
	</update>
	
	<delete id="deleteGroupMember">
		delete groupmember where id = #{id} and parent_seq = #{parent_seq}
	</delete>
	
	<select id="selectDeleteApplyList" resultType="kh.pingpong.dto.DeleteApplyDTO">
		select * from delete_app where category = '그룹' and parent_seq = #{parent_seq}
	</select>
	
	<select id="selectDeleteApplySeq" resultType="int">
		select seq from delete_app where category = '그룹' and parent_seq = #{parent_seq} and id = #{id}
	</select>
	
	<delete id="deleteDeleteApply">
		delete delete_app where seq = #{seq}
	</delete>
	
	<insert id="insertLike">
		insert into like_list values(like_list_seq.nextval, #{id}, '그룹', #{parent_seq})
	</insert>
	
	<select id="selectLike" resultType="Integer">
		select seq from like_list where category = '그룹' and id = #{id} and parent_seq = #{parent_seq}
	</select>
	
	<update id="updateLike">
		update grouplist set like_count = like_count + 1 where seq = #{seq}
	</update>
	
	<update id="updateApplying">
		update grouplist set applying = 'N' where #{today_date} > apply_end
	</update>
	
	<update id="updateProceedingN">
		update grouplist set proceeding = 'N' where #{today_date} > end_date
	</update>
	
	<update id="updateProceedingY">
		update grouplist set proceeding = 'Y' where start_date = #{today_date}
	</update>
	
	<select id="relatedGroup" resultType="kh.pingpong.dto.GroupDTO">
		select * from 
		(select grouplist.*, row_number() over(order by seq desc) rnum from grouplist
		<foreach collection="list" item="hobby_arr" open="where " close="" separator=" or ">
			hobby_type like '%${hobby_arr}%'
   		</foreach>
		) where 6 > rnum
	</select>
	
	<update id="updateAppCount">
		update grouplist set app_count = app_count + 1 where seq = #{seq}
	</update>
	
	<insert id="insertJjim">
		insert into jjim values(jjim_seq.nextval, #{id}, '그룹', #{parent_seq})
	</insert>
	
	<delete id="deleteJjim">
		delete jjim where id = #{id} and parent_seq = #{parent_seq} and category = '그룹'
	</delete>
	
	<select id="selectJjim" resultType="int">
		select seq from jjim where id = #{id} and parent_seq = #{parent_seq} and category = '그룹'
	</select>
	
	<select id="selectReport" resultType="int">
		select count(*) from reportlist where parent_seq = #{parent_seq} and id = #{id} and category = '그룹'
	</select>
	
	<insert id="insertReport">
		insert into reportlist values(reportlist_seq.nextval, #{id}, #{reason}, #{reporter}, sysdate, #{parent_seq}, '그룹', default)
	</insert>
	
	<!-- 리뷰 글쓰기  -->
	<insert id="reviewWrite">
		insert into review values(review_seq.nextval, #{writer}, #{point}, #{contents}, default, #{category}, #{parent_seq})
	</insert>
	
	<!-- 리뷰 리스트 출력  -->
	<select id="reviewList" resultType="kh.pingpong.dto.ReviewDTO">
		select * from review where parent_seq = #{value} order by write_date desc
	</select>
	
	<!-- 리큐 포인트 가져오기 -->
	<select id="reviewAvg" resultType="java.lang.Double">
		select round(avg(point),2) from review where parent_seq = #{value} 
	</select>
	
	<!-- 리큐 포인트 가져오기 -->
	<select id="reviewCount" resultType="java.lang.Integer">
		select count(*) from review where parent_seq = #{value}
	</select>
	
	<!-- 리뷰 포인트 업데이트 -->
	<update id="groupReviewPoint">
		update grouplist set review_point = ${reviewAvg} where seq = ${seq}
	</update>
	
	<!-- 리뷰 총 개수  -->
	<update id="groupReviewCount">
		update grouplist set review_count = ${reviewCount} where seq = ${seq}
	</update>

	<!-- 내가 등록한 그룹 신청서 관리 -->
	<select id="allAppList" resultType="kh.pingpong.dto.GroupApplyDTO">
		select * from group_app
		<if test="list != null and list.size > 0">
			where parent_seq in
			<foreach collection="list" item="seq" open="(" close=")" separator=", ">
				#{seq}
			</foreach>
		</if>
	</select>
	
	<!-- 내가 작성한 그룹 신청서 관리 -->
	<select id="myAppView" resultType="kh.pingpong.dto.GroupApplyDTO">
		select * from group_app where parent_seq = #{seq} and id = #{id} order by seq desc
	</select>
	
	<!-- 시퀀스로 그룹 신청서 찾기 -->
	<select id="showApp" resultType="kh.pingpong.dto.GroupApplyDTO">
		select * from group_app where seq = #{seq}
	</select>
	
	<!-- 그룹 승인-시퀀스 -->
	<delete id="deleteAppAsAccept">
		delete group_app where seq = #{seq}
	</delete>
	
	<!-- 그룹 승인-아이디 -->
	<insert id="insertGroupMember">
		insert into groupmember values(groupmember_seq.nextval, #{id}, #{name}, #{profile}, #{parent_seq}, #{parent_title})
	</insert>
	
	<!-- 그룹 승인-부모 시퀀스 -->
	<update id="updateCurNum">
		update grouplist set cur_num = cur_num + 1 where seq = #{parent_seq}
	</update>
	
	<!-- 그룹 신청 거절 -->
	<delete id="refuseApp">
		delete group_app where seq = #{seq}
	</delete>
	
	<!-- 내 신청서 보기 -->
	<select id="showMyApp" resultType="kh.pingpong.dto.GroupApplyDTO">
		select * from group_app where id = #{id} and parent_seq = #{parent_seq}
	</select>
</mapper>