<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

	<select id ="bankList" resultType="kh.pingpong.dto.BankDTO">
		select * from bank_name
	</select>

	<select id ="countryList" resultType="kh.pingpong.dto.CountryDTO">
		select * from country
	</select>
	
	<select id ="lanList" resultType="kh.pingpong.dto.LanguageDTO">
		select * from language
	</select>
	
	<select id ="hobbyList" resultType="kh.pingpong.dto.HobbyDTO">
		select * from hobby
	</select>
	
	<!-- 회원가입 -->
	<insert id ="memberInsert">
		insert into member values(
			#{mdto.mem_type}, #{mdto.id}, #{mdto.pw}, #{mdto.name}, ${mdto.age},
			#{mdto.gender}, #{mdto.email}, #{mdto.phone_country}, #{mdto.phone}, #{mdto.address}, #{mdto.bank_name},
			#{mdto.account}, #{fdto.sysname}, #{mdto.country}, #{mdto.lang_can}, #{mdto.lang_learn}, #{mdto.hobby}, #{mdto.grade},
			#{mdto.introduce}, default, default
		)
	</insert>
		
	<insert id="memberFile">
		insert into files values(files_seq.nextval, #{sysname}, #{oriname}, #{realpath}, #{category}, 0)
	</insert>
	
	<!-- 마이페이지 출력 -->	
	<resultMap id="MemProfile" type="kh.pingpong.dto.MemberDTO">
    	<result property="sysname" column="profile"/>
    	<!-- sysname에 profile을 넣겠다. -->
    </resultMap>
		
	<select id ="memberSelect" resultMap="MemProfile">
		select * from member where id=#{id}
	</select>
	
	<resultMap id="MemProfileFile" type="kh.pingpong.dto.MemberDTO">
		<result property="sysname" column="profile"></result>
	</resultMap>

	<select id="isIdPwSame" resultType="Integer">
		select count(*) from member where id=#{id}
		<if test="pw != null">and pw=#{pw}</if>

	</select>
	
	<select id="loginInfo" resultMap="MemProfile">
		select * from member where id=#{id}
	</select>
	
	<!-- 아아디 중복체크  -->
	<select id="duplcheckId" resultType="Integer">
		select count(*) from member where id=#{id}
	</select>	
	
	<!-- 아이디 찾기 -->
	<select id ="idFindProc" resultType="kh.pingpong.dto.MemberDTO">
		select * from member where name=#{name} and email=#{email}
	</select>
	
	<!-- 비밀번호  찾기 -->
	<select id ="pwFindProc" resultType="Integer">
		select count(*) from member where id=#{id} and name=#{name} and email=#{email}
	</select>
	
	<!-- 비밀번호 수정 -->
	<update id ="pwModifyProc">
		update member set pw=#{pw} where id=#{id} and name=#{name} and email=#{email}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="memWithdrawal">
		delete from member where id=#{id} 
	</delete>
	
	<!-- 회원 탈퇴시 프로필 삭제 -->
	<delete id="memProfileDele">
		delete from files where sysname=#{sysname} 
	</delete>
	
	<!-- :::::: 회원정보 수정  :::::: -->
	<!-- 전화번호 -->
	<update id="myInfoMoPhone">
		update member set phone_country=#{phone_country}, phone=#{phone} where id = #{id}
	</update>
	
	<!-- 주소 -->
	<update id="myInfoMoAddress">
		update member set address=#{address} where id = #{id}
	</update>
	
	<!-- 은행 -->
	<update id="myInfoMobank">
		update member set bank_name = #{bank_name}, account = #{account} where id = #{id}
	</update>
	
	<!-- 프로필 member table :  멀티파트 에이작스로 해야함 -->
	<update id="myInfoProfile">
		update member set profile = #{fdto.sysname} where id = #{mdto.id}
	</update>
	<!-- 프로필  file table -->
	<update id="myInfoProfileFile">
		update files set sysname = #{fdto.sysname}, oriname = #{fdto.oriname}, realpath = #{fdto.realpath} where sysname = #{mdto.sysname}
	</update>
	
	<!-- 나라 -->
	<update id="myInfoCountry">
		update member set country = #{country} where id = #{id}
	</update>
	
	<!-- 할 수 있는 언어 -->
	<update id="myInfoLang_can">
		update member set lang_can = #{lang_can} where id = #{id}
	</update>
	
	<!-- 배우고 싶은 언어 -->
	<update id="myInfoLang_learn">
		update member set lang_learn = #{lang_learn} where id = #{id}
	</update>
	
	<!-- 취미 -->
	<update id="myInfoHobby">
		update member set hobby = #{hobby} where id = #{id}
	</update>
	
	<!-- introduce -->
	<update id="myInfoIntroduce">
		update member set introduce = #{introduce} where id = #{id}
	</update>
	
	<!-- 나이올리기 -->
	<update id="scheduleAgeUp">
		update member set age = age+1
	</update>
	
	<!-- 언어 선호 수 올리기 -->
	<update id="updateLangCount">
		update language set lang_count = lang_count + 1 where language in
		<foreach collection="array" item="eachLang" open="(" close=")" separator=", ">
			#{eachLang}
		</foreach>
	</update>
	
	<!-- 지역 선호 수 올리기 -->
	<update id="updateLocCount">
		update location set loc_count = loc_count + 1 where loc_name = #{loc_name}
	</update>
	
	<!-- 파트너 / 튜터 목록 가져오기  -->
	<!-- <select id="personList" resultType="kh.pingpong.dto.MemberDTO">
		select * from member where grade = #{value}
	</select> -->
	<select id="personList" resultMap="MemProfileFile">
    	select * from member where grade = #{value}
   	</select>
	
	<!-- 아이디로 회원 찾기 -->
	<select id="getMemberInfo" resultMap="MemProfile">
		select * from member where id = #{id}
	</select>
	
</mapper>












