<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

	<select id ="bankList" resultType="kh.pingpong.dto.BankDTO">
		select * from bank_name
	</select>

	<select id ="countryList" resultType="kh.pingpong.dto.CountryDTO">
		select * from country
	</select>
	
	<select id ="lanList" resultType="kh.pingpong.dto.LanguageDTO">
		select * from language
	</select>
	
	<select id ="hobbyList" resultType="kh.pingpong.dto.HobbyDTO">
		select * from hobby
	</select>
	
	<!-- 회원가입 -->
	<insert id ="memberInsert">
		insert into member values(
			#{mdto.mem_type}, #{mdto.id}, #{mdto.pw}, #{mdto.name}, ${mdto.age},
			#{mdto.gender}, #{mdto.email}, #{mdto.phone_country}, #{mdto.phone}, #{mdto.address}, #{mdto.bank_name},
			#{mdto.account}, #{fdto.sysname}, #{mdto.country}, #{mdto.lang_can}, #{mdto.lang_learn}, #{mdto.hobby}, #{mdto.grade},
			#{mdto.introduce}, default
		)
	</insert>
		
	<insert id="memberFile">
		insert into files values(files_seq.nextval, #{sysname}, #{oriname}, #{realpath}, #{category}, 0)
	</insert>
	
	<!-- 마이페이지 출력 -->	
	<resultMap id="MemProfile" type="kh.pingpong.dto.MemberDTO">
    	<result property="sysname" column="profile"/>
    	<!-- sysname에 profile을 넣겠다. -->
    </resultMap>
		
	<select id ="memberSelect" resultMap="MemProfile">
		select * from member where id=#{id}
	</select>
	
	<resultMap id="MemProfileFile" type="kh.pingpong.dto.MemberDTO">
		<result property="sysname" column="profile"></result>
	</resultMap>

	<select id="isIdPwSame" resultType="Integer">
		select count(*) from member where id=#{id} and pw=#{pw}
	</select>
	
	<select id="loginInfo" resultMap="MemProfile">
		select * from member where id=#{id}
	</select>
	
	<!-- 아아디 중복체크  -->
	<select id="duplcheckId" resultType="Integer">
		select count(*) from member where id=#{id}
	</select>	
	
	<!-- 아이디 찾기 -->
	<select id ="idFindProc" resultType="kh.pingpong.dto.MemberDTO">
		select * from member where name=#{name} and email=#{email}
	</select>
	
	<!-- 비밀번호  찾기 -->
	<select id ="pwFindProc" resultType="Integer">
		select count(*) from member where id=#{id} and name=#{name} and email=#{email}
	</select>
	
	<!-- 비밀번호 수정 -->
	<update id ="pwModifyProc">
		update member set pw=#{pw} where id=#{id} and name=#{name} and email=#{email}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="memWithdrawal">
		delete from member where id=#{id} 
	</delete>
</mapper>












