<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mypage">
	
	<!-- 그룹 주선자일 경우의 기록   -->
	<select id="selectByIdInGroup" resultType="kh.pingpong.dto.GroupDTO">
		select * from 
		(select grouplist.*, row_number() over(order by seq desc) rnum from grouplist where ${columnName} = #{columnValue})
		where rnum between #{start} and #{end}
	</select>
	
	<!-- 그룹 멤버일 경우의 기록  -->
	<select id="selectByIdInGroup_app" resultType="kh.pingpong.dto.GroupDTO">
		select * from
		(select grouplist.*, row_number() over(order by seq desc) rnum from grouplist 
		where seq in (select parent_seq from groupmember where ${columnName} = #{columnValue})) 
		where rnum between #{start} and #{end}
	</select>
	
	<!-- 그룹 페이징 -->
	<select id="selectCount" resultType="int">
		select count(*) from ${tableName} where ${columnName} = #{columnValue}
	</select>
	
	<!-- 튜터/튜티 관련 -->
	<select id="lessonList" resultType="kh.pingpong.dto.LessonDTO">
		select * from 
		(select lesson.*, row_number() over(order by seq desc) rnum from lesson where id = #{columnValue})
		where rnum between #{start} and #{end}
	</select>
	
	<select id="tuteeList" resultType="kh.pingpong.dto.LessonDTO">
		select * from 
		(select lesson.*, row_number() over(order by seq desc) rnum from lesson where seq in (select parent_seq from tutee where id = #{columnValue}))
		where rnum between #{start} and #{end}
	</select>
	
	<select id="partnerJjim" resultType="kh.pingpong.dto.PartnerDTO">
		select * from
		(select partner.*, row_number() over(order by seq desc) rnum from partner where seq in (select parent_seq from jjim where category = '파트너' and id = #{id}))
		where rnum between #{start} and #{end}
	</select>
	
	<select id="groupJjim" resultType="kh.pingpong.dto.GroupDTO">
		select * from 
		(select grouplist.*, row_number() over(order by seq desc) rnum from grouplist where seq in (select parent_seq from jjim where category = '그룹' and id = #{id}))
		where rnum between #{start} and #{end}
	</select>
	
	<select id="lessonJjim" resultType="kh.pingpong.dto.LessonDTO">
		select * from
		(select lesson.*, row_number() over(order by seq desc) rnum from lesson where seq in (select parent_seq from jjim where category = '강의' and id = #{id}))
		where rnum between #{start} and #{end}
	</select>
	
	<select id="jjimCount" resultType="int">
		select count(*) from ${tableName} where seq in (select parent_seq from jjim where category = #{category} and id = #{id})
	</select>
</mapper>
