<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mypage">
	
	<!-- 그룹 주선자일 경우의 기록   -->
	<select id="selectByIdInGroup" resultType="kh.pingpong.dto.GroupDTO">
		select * from grouplist where writer_id = #{id}
	</select>
	
	<!-- 그룹 멤버일 경우의 기록  -->
	<select id="selectByIdInGroup_app" resultType="kh.pingpong.dto.GroupDTO">
		select * from grouplist where seq = (select parent_seq from groupmember where id = #{id})
	</select>
	

	<!-- <select id="tutorList" resultType="kh.pingpong.dto.TutorDTO">
		select * from lesson where id = #{id}
	</select> -->
	

	<select id="tuteeList" resultType="kh.pingpong.dto.TuteeDTO">
		select * from tutee
	</select>
	
	<select id="partnerList" resultType="kh.pingpong.dto.PartnerDTO">
		select * from partner 
	</select>
	
	<select id="likeList" resultType="kh.pingpong.dto.LikeListDTO">
		select * from jjim 
	</select>
	
	<select id="partnerJjim" resultType="kh.pingpong.dto.PartnerDTO">
		select * from partner where seq in (select parent_seq from jjim where category = '파트너')
	</select>
	
	<select id="groupJjim" resultType="kh.pingpong.dto.GroupDTO">
		select * from grouplist where seq in (select parent_seq from jjim where category = '그룹')
	</select>
	
	<select id="tutorJjim" resultType="kh.pingpong.dto.LessonDTO">
		select * from lesson where seq in (select parent_seq from jjim where category = '강의')
	</select>
	
</mapper>