<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Partner">
	<select id="selectHobby" resultType="kh.pingpong.dto.HobbyDTO">
		select * from hobby
	</select>
	
	<select id="selectLanguage" resultType="kh.pingpong.dto.LanguageDTO">
		select * from language
	</select>
	
	<!-- 파트너 상세 검색 -->
	<select id="search" resultType="kh.pingpong.dto.PartnerDTO">
		select * from (select partner.*,row_number() over(order by seq desc) rnum from partner 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="pdto.gender != null">
				gender = #{pdto.gender}
			</if>
			<if test="pdto.name != null">
				and name like '%'||#{pdto.name}||'%'
			</if>
			<if test="pdto.hobby != null">
				and hobby like '%'||#{pdto.hobby}||'%'
			</if> 
			<if test="pdto.lang_can != null">
				and lang_can like '%'||#{pdto.lang_can}||'%'
			</if>
			<if test="pdto.lang_learn != null">
				and lang_learn like '%'||#{pdto.lang_learn}||'%'
			</if>		
 	 		<if test="pdto.address != null">
				and address like '%'||#{pdto.address}||'%'
			</if>  
 			<if test="pdto.age != 0">
				and age like '%'||#{pdto.age}||'%'
			</if>
			
		</trim>
		) where rnum between 1 and 10
	</select>
	
	<select resultType="int" id="getArticleCount">
		select count(*) from partner
	</select>
	
	<select resultType="kh.pingpong.dto.PartnerDTO" id="selectBySeq">
		select * from partner where seq= #{seq} 
	</select>
	
	<!-- 페이징 -->
	<select id="selectByPageNo" resultType="kh.pingpong.dto.PartnerDTO">
		select * from (select partner.*,row_number() over(order by seq desc) rnum from partner) where rnum between #{start} and #{end}
	</select>


	<!-- 파트너 등록 -->
	<resultMap id="MemProfile" type="kh.pingpong.dto.MemberDTO">
    	<result property="sysname" column="profile"/>
    </resultMap>
	<select id="selectMember" resultMap="MemProfile">
		select * from member where id= #{id}
	</select>
	
	<insert id="insertPartner">
		insert into partner values(partner_seq.nextval,#{mdto.id,jdbcType=VARCHAR},
		#{mdto.name,jdbcType=VARCHAR},#{mdto.age,jdbcType=INTEGER},
		#{mdto.gender,jdbcType=VARCHAR},#{mdto.email,jdbcType=VARCHAR},
		#{mdto.country,jdbcType=VARCHAR},#{mdto.phone_country,jdbcType=VARCHAR},
		#{mdto.phone,jdbcType=VARCHAR},#{mdto.address,jdbcType=VARCHAR},
		#{mdto.sysname,jdbcType=VARCHAR},#{mdto.lang_can,jdbcType=VARCHAR},
		#{mdto.lang_learn,jdbcType=VARCHAR},#{mdto.hobby,jdbcType=VARCHAR},
		#{mdto.introduce,jdbcType=VARCHAR},sysdate,0, 0, 
		#{contact,jdbcType=VARCHAR})
	</insert>
	
	<!-- 전체 파트너  -->
	<select id="partnerListAll" resultType="kh.pingpong.dto.PartnerDTO">
		select * from partner
	</select>
	
</mapper>
