<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Partner">
	<select id="selectHobby" resultType="kh.pingpong.dto.HobbyDTO">
		select * from hobby
	</select>
	
	<select id="selectLanguage" resultType="kh.pingpong.dto.LanguageDTO">
		select * from language
	</select>
	
	<!-- 파트너 상세 검색 -->
	<select id="search" resultType="kh.pingpong.dto.PartnerDTO">
		select * from (select partner.*,row_number() over(order by seq desc) rnum from partner 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="pdto.gender != null">
				gender = #{pdto.gender}
			</if>
			<if test="pdto.hobby != null">
				and hobby = #{pdto.hobby}
			</if> 
			<if test="pdto.lang_can != null">
				lang_can = #{pdto.lang_can}
			</if>
			<if test="pdto.hobby != null">
				and hobby = #{pdto.hobby}
			</if>
			<if test="pdto.lang_learn != null">
				and lang_learn = #{pdto.lang_learn}
			</if>		
 	 		<if test="pdto.address != null">
				and address = #{pdto.address}
			</if>  
			<!--
 			<if test="age != 0">
				age = #{age}
			</if>
			--> 
		</trim>
		) where rnum between 1 and 10
	</select>
	
	<select resultType="int" id="getArticleCount">
		select count(*) from partner
	</select>
	
	<select resultType="kh.pingpong.dto.PartnerDTO" id="selectBySeq">
		select * from partner where seq= #{seq} 
	</select>
	
	<!-- 페이징 -->
	<select id="selectByPageNo" resultType="kh.pingpong.dto.PartnerDTO">
		select * from (select partner.*,row_number() over(order by seq desc) rnum from partner) where rnum between #{start} and #{end}
	</select>


	<!-- 파트너 등록 -->
	<select id="selectMember" resultType="kh.pingpong.dto.MemberDTO">
		select * from member where id= #{id}
	</select>
	<insert id="insertPartner">
		insert into partner
		values(partner_seq.nextval,#{mdto.id},#{mdto.name},#{mdto.age},
		#{mdto.gender},#{mdto.email},#{mdto.country},#{mdto.phone_country},#{mdto.phone},#{mdto.address},
		#{mdto.profile},#{mdto.lang_can},#{mdto.lang_learn},#{mdto.hobby},#{mdto.introduce},sysdate,
		0, 0, #{contact})
	</insert>
	
</mapper>
