<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Tutor">

<insert id="insert">
	insert into tutor_app values(tutor_app_seq.nextval,#{title},#{license},#{career},#{exp},#{introduce},#{recomm},default)
</insert>

<insert id="insertFiles">
	insert into files values(files_seq.nextval,#{sysname}, #{oriname}, '#{realpath,jdbcType=VARCHAR}','partner', 0)
</insert>


<resultMap id="TutorProfile" type="kh.pingpong.dto.MemberDTO">
   	<result property="sysname" column="profile" />
</resultMap>
   
<select id="selectTutorList" resultMap="TutorProfile">
	select * from (select member.*, row_number() over(order by seq desc) rnum from lesson where grade='tutor') 
	where rnum between #{start} and #{end}
</select>


<resultMap id="LessonProfile" type="kh.pingpong.dto.LessonDTO">
   	<result property="sysname" column="profile" />
</resultMap>
   
<select id="selectLessonList" resultMap="LessonProfile">
	select * from (select lesson.*, row_number() over(order by seq desc) rnum from lesson) 
	where rnum between #{start} and #{end}
</select>

<select id="getNextVal" resultType="int">
	select lesson_seq.nextval from dual
</select>

<select id="getArticleCount" resultType="int">
	select count(*) from lesson
</select>



</mapper>