<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Tutor">

<!-- 튜터신청서에 있는지 없는지-->
<select id="tutorTrue" resultType="int">
	select count(*) from tutor_app where id=#{id}
</select>
<!-- 튜터 신청서 패스했는지 안했는지 -->
<select id="passWhether" resultType="string">
	select pass from tutor_app where id=#{id}
</select>

<!-- 튜터 신청서 insert -->
<insert id="insert">
	insert into tutor_app values(tutor_app_seq.nextval,#{id},#{title},#{license},#{career},#{exp},#{introduce},#{recomm},default)
</insert>

<!-- 자격증 파일 insert -->
<insert id="insertFiles">
	insert into files values(files_seq.nextval,#{sysname}, #{oriname}, #{realpath,jdbcType=VARCHAR},'partner', 0)
</insert>

<!-- 강의 등록 신청서 -->
<insert id="lessonAppProc">
	insert into lesson values(lesson_seq.nextval, #{id}, #{name}, #{email}, #{phone_country}, #{phone}, #{sysname}, default, #{title}, #{price}, #{language},#{apply_start},#{apply_end},#{start_date},#{end_date},#{start_hour},#{start_minute},#{end_hour},#{end_minute},#{max_num},0,#{location},#{curriculum},default,#{view_count},default,default,default,default,default)
</insert>

<!-- 강의 취소 신청서 -->
<insert id="lessonCancleProc">
	insert into delete_app values(delete_app_seq.nextval, #{id}, #{category}, #{contents}, #{parent_seq})
</insert>

<!-- 강의 취소 됬는지 확인 -->
<select id="lessonCancle" resultType="int">
	select count(*) from delete_app where parent_seq = #{parent_seq} and id=#{id} and category=#{category}
</select>

<!-- 강의 조회수 -->
<update id="updateViewCount">
	update lesson set view_count = view_count + 1 where seq = #{seq}
</update>

<!-- 강의 좋아요 -->
<insert id="likeTrue">
	insert into like_list values(like_list_seq.nextval, #{id}, '강의', #{parent_seq})
</insert>

<!-- 강의 좋아요 됬는지 확인 -->
<select id="LikeIsTrue" resultType="int">
	select count(*) from like_list where parent_seq = #{parent_seq} and id =#{id} and category='강의' 
</select>

<!-- 강의 좋아요 수 업데이트 -->
<update id="updateLikeCount">
	update lesson set like_count = like_count + 1 where seq = #{seq}
</update>

<!-- 강의 눌렀을때 뿌려줄 강의 view -->
<resultMap id="lessonViewProfile" type="kh.pingpong.dto.LessonDTO">
   	<result property="sysname" column="profile" />
</resultMap>

<select id="lessonView" resultMap="lessonViewProfile">
	select * from lesson where seq=#{seq}
</select>

<!-- 튜터 프로필 뿌려주려고 -->
<resultMap id="TutorProfile" type="kh.pingpong.dto.MemberDTO">
   	<result property="sysname" column="profile" />
</resultMap>

<!-- 여기서부터 세개 튜터페이징 -->
<select id="selectTutorList" resultMap="TutorProfile">
	select * from (select member.*, row_number() over(order by grade desc) rnum from member where grade='tutor') 
	where rnum between #{start} and #{end}
</select>
<select id="getNextVal_tutor" resultType="int">
	select member_seq.nextval from dual
</select>

<select id="getArticleCount_tutor" resultType="int">
	select count(*) from member
</select>

<!-- 강의 리스트에 프로플 뿌려주려고 -->
<resultMap id="LessonProfile" type="kh.pingpong.dto.LessonDTO">
   	<result property="sysname" column="profile" />
</resultMap>
 
<!-- 여기서부터 세개 강의리스트 페이징 -->
<select id="selectLessonList" resultMap="LessonProfile">
	select * from (select lesson.*, row_number() over(order by seq desc) rnum from lesson where pass='Y') 
	where rnum between #{start} and #{end}
</select>

<select id="getNextVal_lesson" resultType="int">
	select lesson_seq.nextval from dual
</select>

<select id="getArticleCount_lesson" resultType="int">
	select count(*) from lesson
</select>



</mapper>